/* Buttons + file-input, which is styled as the same button */
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 14rem;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
  margin: 0;
}

.file-input__field {
  display: none;
}

.button,
.file-input__label {
  background-color:var(--accent-color);
  color: var(--text-accent-color);
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-accent-color);
  border-radius: 0.25rem;
  outline: none;
  position: relative;
  cursor: pointer;
}

.button::before,
.file-input__label::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--accent-color);
  transition: top, left, right, bottom, 100ms ease-in-out;
}

.button:hover::before,
.button:focus-visible::before,
.file-input__label:hover::before,
.file-input__label:focus-visible::before {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}

.button:active::before,
.file-input__label:active::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button:focus,
.file-input__label:focus {
  outline: none;
}