.container {
  position: relative;
  box-sizing: border-box;
}

.container.width-fit-content {
  width: fit-content;
}

.container.no-overflow {
  overflow: hidden;
}

.container.overflow-x-scroll {
  overflow-x: scroll;
}

.container.padding-1rem {
  padding: 1rem;
}

.container.padding-05rem {
  padding: 0.5rem;
}

.container.margin-1rem {
  margin: 1rem;
}

.container.margin-v-1rem {
  margin: 1rem 0;
}

.container.border-black-1px {
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
}

.container > .title {
  position: absolute;
  top: -0.8rem;
  padding: 0 0.25rem;
  left: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
}

.container.bg-main,
.container.bg-main > .title {
  background: var(--background-color);
}

.container.bg-secondary {
  background: var(--background-secondary-color);
}

.container.bg-secondary > .title {
  background: var(--accent-color);
}

.container.foldable > .title {
  padding: 2px 2px 0 6px;
  cursor: pointer;
}

.container.foldable > .title:hover {
  color: var(--deep-accent-color);
}

.container.folded {
  height: 0;
  margin-bottom: 2rem; /* Makes the label text slightly more readable while container is folded */
}

.container.folded.container.padding-1rem {
  padding: 0 1rem;
}

.container.folded.container.padding-05rem {
  padding: 0 0.5rem;
}