:root {
  --unit: 10px;
}

.grid-output__background {
  background-color: #1c1e21;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-output__container {
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
}

.grid-output__container > .grid {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.show {
  opacity: 0;
  animation: ani 2.5s forwards;
}

.hide {
  opacity: 1;
  animation: ani 2.5s reverse;
}

.shown {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}