input[type="text"], input[type="number"], select {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

input:disabled, select:disabled {
  cursor: not-allowed;
  color: #00000080;
}

.text-input__field, .number-input__field, .select-input__field {
  padding-left: 0.5rem;
  box-sizing: border-box;
  height: 2rem;
  width: 100%;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-input__field:focus, .number-input__field:focus, .select-input__field:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-input__label, .number-input__label, .select-input__label, .input-group-tight-three > label {
  display: block;
  margin-bottom: 0.25rem;
  line-height: 0.5rem;
  font-size: 0.9rem;
  pointer-events: none;
  border: none;
  padding-left: 0.2rem;
}

.input-group-tight-three .input-group-tight-three__items {
  display: flex;
  flex-direction: row;
  gap: 0;
  margin-top: 0.5rem;
}

.input-group-tight-three__items > div:nth-child(1) .text-input__field,
.input-group-tight-three__items > div:nth-child(1) .number-input__field,
.input-group-tight-three__items > div:nth-child(1) .select-input__field {
  border-radius: 0.25rem 0 0 0.25rem;
}

.input-group-tight-three__items > div:nth-child(2) .text-input__field,
.input-group-tight-three__items > div:nth-child(2) .number-input__field,
.input-group-tight-three__items > div:nth-child(2) .select-input__field {
  border-radius: 0;
}

.input-group-tight-three__items > div:nth-child(3) .text-input__field,
.input-group-tight-three__items > div:nth-child(3) .number-input__field,
.input-group-tight-three__items > div:nth-child(3) .select-input__field {
  border-radius: 0 0.25rem 0.25rem 0;
}