/* position: 'absolute',
zIndex: 101,
color: type === 'error' ? 'red' : 'green',
background: 'lightgrey',
fontSize: 20,
borderStyle: 'solid',
borderRadius: 5,
padding: 10,
marginBottom: 10,
opacity: 0,
animation: 'toggle-visibility-notificaion 5s forwards ease-in-out', */

#notification {
  position: absolute;
  z-index: 101;
  top: 1rem;
  left: 50%;
  font-size: 1.4rem;
  background-color: lightgray;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 1rem;
  /* margin-bottom: 10; */
  transform: translateX(-50%);
  transition: opacity 0.5s ease-in-out;
  /* animation: toggle-visibility-notificaion 5s forwards ease-in-out; */
}

/* @keyframes toggle-visibility-notificaion {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */