#notification {
  position: absolute;
  z-index: 101;
  top: 1rem;
  left: 50%;
  font-size: 1.4rem;
  background-color: lightgray;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 1rem;
  transform: translateX(-50%);
  transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
  box-shadow:4px 4px 20px 0px rgba(0,0,0, 0.5);
}